.text {
  display: flex;
  justify-content: space-between;
  margin: 0px 30px;
}

.title {
  display: flex;
  align-content: center;
  align-items: center;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.priority {
  color: black;
  width: 10px;
  height: 10px;
}

.collapse {
  display: flex;
  flex-direction: column;
  margin: 10px 30px;
}

.progressPannel {
  width: 250px;
  margin-bottom: 15px;
}

.progress {
  max-width: 200px;
}

.percent {
  max-width: 20px;
}

.textField {
  display: flex;
  align-items: flex-end;
  margin-top: 10px;
  width: 250px;
}

.button {
  display: flex;
  margin: 10px 5px;
}
