@import '../../helper/style/_mixin.scss';


.c--app_container {
  display: flex;
}

/////////////////////////////////////////// LOGO //////////////////////////////////////////////////

.c--app_logoContainer {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 50px;
  cursor: pointer;
  outline: none;
  z-index: 50;
  background-color: #000000;
}

.c--app_normal {
  display: flex;
  flex-direction: row;
  background-color: #000000;
  width: 100px;
  height: 50px;
  z-index: 25;
  margin-left: -50px;
  -webkit-transition: 0.2s ease 0.5s;
  -moz-transition: 0.2s ease 0.5s;
  -o-transition: 0.2s ease 0.5s;
  transition: 0.2s ease 0.5s;
}

.c--app_loading {
  @extend .c--app_normal;
  margin-left: 0px;
}


.c--app_logo {
  margin-left: 16.5px;
  margin-top: 12.5px;
  width: 25px;
  height: 25px;
  z-index: 25;
}

.c--app_progress {
  margin-left: 5px;
  margin-top: 5px;
  z-index: 25;
}

//////////////////////////////////////// TAB BAR //////////////////////////////////////////////////

.c--app_tabBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 50px;
  right: 0px;
  top: 0px;
  height: 50px;
  z-index: 100;
  background-color: #cfcfcf;
  @include user-select-none;
}

.c--app_typo {
  width: 100px;
  height: 25px;
  margin-left: 15px;
  z-index: 50;
}

.c--app_iconsContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 15px;
}

.c--app_imageContainer {
  outline: none;
  cursor: pointer;
}

.c--app_image {
  width: 20px;
  height: 20px;
}

.c--app_image-active {
  width: 20px;
  height: 20px;
  border-bottom: 5px solid #519ae7;
}