.c--autocomplete_group {
  position:relative;
  width: 100%;
}

input	{
  font-size:18px;
  padding:10px 0px;
  display:block;
  width: 100%;
  border:none;
  border-bottom: 2px solid #919191;
  background-color: transparent;
}

.c--autocomplete_error {
  border-bottom: 2px solid #E25141;
}

input:focus {
  border-bottom: 2px solid #919191;
  outline: none;
}

/* LABEL ======================================= */
.c--autocomplete_label {
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  top:10px;
  padding-top: 5px;
  transition:0.2s ease all;
  font-family: Roboto, Helvetica, Arial;
  font-size: 16px;
  color: #919191;
  -moz-transition:0.3s ease all;
  -webkit-transition:0.3s ease all;
}

/* active state */
input:focus ~ .c--autocomplete_label, input:valid ~ .c--autocomplete_label 		{
  top:-10px;
  font-size:12px;
  color: #919191;
}

/* BOTTOM BARS ================================= */
.c--autocomplete_bar	{
  position:relative;
  display:block;
  width: 100%;
}

.c--autocomplete_bar:before, .c--autocomplete_bar:after	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background: #919191;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

.c--autocomplete_bar:before {
  left:50%;
}

.c--autocomplete_bar:after {
  right:50%;
}

/* active state */
input:focus ~ .c--autocomplete_bar:before, input:focus ~ .c--autocomplete_bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.c--autocomplete_highlight {
  position:absolute;
  height:60%;
  width: 100%;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .c--autocomplete_highlight {
  -webkit-animation:inputHighlighter 0.5s ease;
  -moz-animation:inputHighlighter 0.5s ease;
  animation:inputHighlighter 0.5s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#919191; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#919191; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#919191; }
  to 	{ width:0; background:transparent; }
}
