@import '../../../../helper/style/_mixin.scss';


.c--levelBar_container {
  margin-top: 65px;
  display: flex;
  justify-content: center;
  @include user-select-none;
}

.c--levelBar_noMargin {
  @extend .c--levelBar_container;
  margin-top: 0px;
}

.c--levelBar_textContainer {
  text-align: center;
  margin-bottom: 10px;
}