.logoContainer {
  margin-top: 65px;
  display: flex;
  justify-content: center;
}

.noMargin {
  @extend .logoContainer;
  margin-top: 0px;
}

.textContsainer {
  text-align: center;
  margin-bottom: 10px;
}
