@import '../../../helper/style/_mixin.scss';

.c--tagShape_container {
  @include user-select-none;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-right: 6px;
  margin-left: 6px;
  cursor: pointer;
  outline: none;
}

.c--tagShape_default {
  background-color: #cfcfcf;
  padding: 2px 10px;
}

.c--tagShape_selected {
  background-color: #519ae7;
  padding: 2px 10px;
}

.c--tagShape_icon {
  background-color: #505050;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}