.c--todo_container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  height: 30px;
}

.c--todo_img {
  width: 30px;
  height: 30px;
  margin-top: 0px;
  margin-left: -9px;
  opacity: 0.1;
  margin-right: 5px;
}
