.c--levelIcon_container {
  outline: none;
}

.c--levelIcon_passive {
  background-color: #cfcfcf;
  color: white;
  border-radius: 100%;
  padding: 3px;
  width:40px;
  height: 40px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 1s ease;
}

.c--levelIcon_passive:hover {
  background-color: #919191;
  transition: background-color 0.5s ease;
}

.c--levelIcon_active {
  @extend .c--levelIcon_passive;
  background-color: #515151;
  transition: background-color 1s ease;
}
