.container {
  outline: none;
}

.passive {
  background-color: #cfcfcf;
  color: white;
  border-radius: 100%;
  padding: 3px;
  width:40px;
  height: 40px;
  margin: 10px;
  cursor: pointer;
}

.passive:hover {
  background-color: #919191;
}

.active {
  @extend .passive;
  background-color: #515151;
}
