.c--datePicker_textField {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20px;
}

.c--datePicker_calendar-today { 
  color: #505050 !important;
  border: 1px solid #505050 !important;
}

.c--datePicker_calendar-today::after {
  visibility: hidden; /* hide small border under the text */
}

.c--datePicker_calendar {
  font-size: 9px !important;
  color: #cfcfcf !important;
  border: 1px solid #cfcfcf !important;
  justify-content: center;
  margin: auto;
}